@font-face {
  font-family: "Torus";
  src: url("./Torus.otf")
}
@font-face {
  font-family: "Crayon";
  src: url("./crayon-hand-2016.otf")
}

@tailwind base;
@tailwind components;
@tailwind utilities; 

@layer base {
  html, body {
    font-family: Crayon;
    @apply text-white overflow-hidden;
  }
}
