<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {# Refresh page every 30 seconds #}
    <meta http-equiv="refresh" content="30" />

    <title>Donation display for H1A V1</title>

    <style></style>

    <script></script>
  </head>

  <body>
    <div class="total">Toplam Odul Havuzu: {{data.total}}</div>
    <hr />
    <div class="topDonors">
      <div>En Cok Bagis Yapanlar:</div>
      {% for donation in data.top[0:3] %}
      <div>
        <span> {{ donation.donor }} </span>
        <span> {{ donation.amount }} </span>
        <span> ₺ </span>
      </div>
      {% endfor %}
    </div>
    <hr />
    <div class="latestDonation">
      <div>En Son Bagislar:</div>
      {% for donation in data.latest[0:3] %}
      <div>
        <span>{{ donation.donor }} </span>
        <span> {{ donation.amount }}</span>
        <span>₺</span>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
