<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {# Refresh page every 30 seconds #}
    <meta http-equiv="refresh" content="30" />
    {# Set the values to an element to read it in js #}
    <meta
      id="serverUrl"
      server-url="{{data.server_url}}"
      donation-id="{{data.donation.id}}"
    />

    <title>Donation display for H1A V1</title>

    <style></style>

    <script>
      window.onload = () => {
        let vid = document.getElementById("celebrationAudio");
        vid.volume = 0.2;
        var serverUrl = document
          .getElementById("serverUrl")
          .getAttribute("server-url");
        var donationId = document
          .getElementById("serverUrl")
          .getAttribute("donation-id");
        // notify the server that the celebration happened
        // little delay to avoid oopsies
        setTimeout(() => {
          fetch(serverUrl + "celebrated/" + donationId);
        }, 5000);
      };
    </script>
  </head>

  <body>
    <div class="newDonation">
      <div>Yeni bagis!</div>
      <span> {{data.donation.donor}} </span>
      <span> {{data.donation.amount}} </span>
      <span> ₺ </span>
      <div class="total">Toplam Odul Havuzu: {{data.donation.total}}</div>
      <audio id="celebrationAudio" autoplay>
        <source src="{{data.server_url}}assets/applause.mp3" />
      </audio>
    </div>
  </body>
</html>
