<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="30">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Donation display for H1A V1</title>

    <style>
    </style>

</head>

<body>

    <div class="top_donors">
        {% for donation in data.top[0:3] %}
        <li>{{ donation.donor }} {{ donation.amount }}₺</li>
        {% endfor %}
    </div>

</body>

</html>
